.Rproj.user
.Rhistory
.RData
.Ruserdata
AI/
Data/
Dataout/
Documents/
GIS/
Graphics/
Images/
markdown/#R basics
.Rproj.user
.Rhistory
.RData
.Ruserdata
#no data
*.csv
*.txt
*.rds
*.xlsx
*.xls
*.zip
*.png
*.twbx
*.pptx

#nothing from these folders
AI/*
GIS/*
Images/*
Graphics/*